<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://accelerator-functions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/1116234e-2003-42ae-97e1-93ca44ae95e8/resourceGroups/Sandbox-dj/providers/Microsoft.Web/sites/accelerator-functions</ResourceId>
    <IsLinux>true</IsLinux>
    <UseBlobContainerDeploy>true</UseBlobContainerDeploy>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <PublishUrl>https://accelerator-functions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>