[submodule "apps/admin"]
	path = apps/admin
	url = https://ordercloud.visualstudio.com/OC-Platform/_git/OC-Accelerator.Admin
[submodule "apps/storefront"]
	path = apps/storefront
	url = https://ordercloud.visualstudio.com/OC-Platform/_git/OC-Accelerator.Storefront
[submodule "apps/functions"]
	path = apps/functions
	url = https://ordercloud.visualstudio.com/OC-Platform/_git/OC-Accelerator.Functions
