# got some ignore file tips here:
# http://stackoverflow.com/questions/34784/mercurial-setup-for-visual-studio-2008-projects

appSettings.json
Templates/Bicep/*.json

syntax: glob
*.orig
*.csproj.user
*.dbproj.user
*/obj/*
*/bin/*
*/publish/*
packages/*
TestResults/*
_ReSharper*/*
Config/Dev/*
*.ReSharper.*
*.ncb
*.suo
*.dbmdl
Packages.dgml
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.pubxml
profile.arm.json
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
ipch/
x64/
[Tt]humbs.db
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.resharper
*.opensdf
*.sdf
*.idea
*.favdoc
UpgradeLog.*
.git/*
.vs/*
